.hero {
  position: relative;
  background: linear-gradient(to right, #166735, #1a3243);
  color: white;
  z-index: 2;
  height: 30rem;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  gap: 20px;
  height: 100%;
}

.left {
  text-align: left;
  width: 50%;
}

.right {
  text-align: right;
  position: relative;
  width: 50%;
  height: 100%;
}

.left h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

h1 {
  color: rgb(224, 202, 1);
}

.description {
  margin-top: 20px;
  max-width: 600px;
  text-align: justify;
}

.description span {
  font-size: 16px;
}

.buttons {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.buttons a {
  display: flex;
  padding: 10px 20px;
  background-color: #171717;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 15px;
  transition: background-color 0.3s;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.buttons a:hover {
  background-color: #555;
}

.icons ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.icons li {
  display: inline-block;
  margin-right: 20px;
}

.icons a {
  color: #ffffff;
  font-size: 24px;
  transition: color 0.2s;
  display: flex;
  gap: 5px;
}

.icons a:hover {
  color: #949494;
}

.icons span {
  font-size: 16px;
}

.image {
  position: absolute;
  left: 10%;
  bottom: 0;
  max-width: 600px;
  overflow: hidden;
}

.image img {
  width: 100%;
  max-height: 32rem;
  display: block;
}

@media screen and (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }
  .left {
    order: 2;
    margin-top: 20px;
  }
  .right {
    order: 1;
  }
  .image {
    max-width: 60vw; /* Ajusta el ancho máximo en relación al ancho de la pantalla */
  }
}
