@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.skills {
  position: relative;
  z-index: 2;
  background-color: #171717;
  padding-block: 3rem;
  font-family: "Inter", sans-serif;
}

.skills-container {
  align-items: center;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  padding-inline: 2rem;
}

/* Heading styles */
.skills-heading {
  display: flex;
  justify-content: left;
  position: relative;
}

.skills-title {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

.skills-divider {
  height: 1px;
  width: 90%;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  margin-left: 7%;
}

.skills-content {
  display: flex;
  gap: 50px;
  margin-block: 30px;
}

.descriptioncontainer {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item:first-child {
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  width: 48%;
  padding: 20px;
  margin-block: 10px;
  background-color: #0e0d0d;
  border: 1px solid #27272a;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  gap: 5px;
  text-align: justify;
}

.item:hover h3 {
  color: #166735;
}

.skillscontainer {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.skills-part3 {
  justify-content: center;
  gap: 2%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .skills-content {
    flex-direction: column;
  }

  .skillscontainer {
    width: 100%;
    padding-left: 20px;
  }

  .descriptioncontainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
