.skills {
  position: relative;
  z-index: 2;
  background-color: #171717;
  padding-block: 3rem;
}

.skills-container {
  align-items: center;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  padding-inline: 2rem;
}

/* Heading styles */
.skills-heading {
  display: flex;
  justify-content: left;
  position: relative;
}

.skills-title {
  font-size: 2rem;
  font-weight: bold;
  color: #ccc;
}

.skills-divider {
  height: 1px;
  width: 90%;
  background-color: #afafaf;
  position: absolute;
  bottom: 0;
  margin-left: 7%;
}

.skills-content {
  display: flex;
}

.skills-side {
  width: 50%;
  padding: 1rem;
}

.skills-description {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.skills-progress {
  display: flex;
  justify-content: center;
}

.skills-progress-container {
  width: 80%;
}

.skills-part2 {
  min-height: 360px;
  padding-block: 1rem;
  margin-top: -60px;

  justify-content: center;
  gap: 5%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1110px) {
  .skills-part2 {
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .skills-content {
    padding-inline: 1rem;
    flex-direction: column;
  }

  .skills-part2 {
    margin-top: 0px;
  }

  .skills-side {
    width: 100%;
  }
}
