.contact {
  padding-block: 2rem;
  position: relative;
  z-index: 2;
  background-color: #171717;
}

.contact-container {
  align-items: center;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  padding-inline: 2rem;
}

/* Heading styles */
.contact-heading {
  display: flex;
  justify-content: left;
  position: relative;
  margin-bottom: 30px;
}

.contact-title {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

.contact-divider {
  height: 1px;
  width: 90%;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  margin-left: 7%;
}

.contact2 {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.left2 {
  text-align: right;
  position: relative;
  width: 40%;
  height: 330px;
}

.image {
  position: absolute;
  bottom: -33px;
  overflow: hidden;
  transform: scaleX(-1);
}

.image img {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-text {
  width: 70%;
}

.contact-right {
  display: flex;
}

/* Form styles */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}

.input {
  padding: 12px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
}

.textarea {
  padding: 12px;
  border-radius: 20px;
  border: none;
  resize: none;
  font-size: 15px;
}

.submit-btn {
  background: #ffa70fe2;
  color: white;
  font-weight: bold;
  padding: 12px;
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .contact-container {
    padding-inline: 1rem;
  }

  .contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-text {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .contact-left {
    width: 80%;
    height: 12rem;
    text-align: center;
  }

  .contact-center {
    transform: rotate(90deg);
    margin-bottom: 3rem;
    margin-right: 0;
  }

  .contact-right {
    width: 80%;
  }

  .input {
    width: 50vw;
  }

  .submit-btn {
    width: 50vw;
  }
}
