.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 50;
}

.container {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.logo {
  height: 64px;
  width: 64px;
  color: white;
  background: #18181b;
  border: 1px solid #27272a;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links-dropdown {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 66px;
  background-color: #18181b;
  border: 1px solid #27272a;
  border-radius: 48px;
}

.nav-links-dropdown li {
  list-style: none;
  margin: 0;
}

.nav-links-dropdown a {
  padding-right: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-links-dropdown a:hover {
  color: color-mix(in srgb-linear, #166735 40%, #1a3243 60%) !important;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  padding: 0;
  transition: color 0.3s;
  margin-right: 0rem;
  z-index: 30;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links-dropdown {
    text-align: center;
    flex-direction: column;
    background-color: rgb(16, 16, 16);
    width: 30%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    transition: right 0.2s ease-in;
    z-index: 20;
    padding-top: 50px;
  }

  .nav-links-dropdown.active {
    right: 0px;
  }

  .nav-links-dropdown li {
    margin-bottom: 30px;
  }

  .nav-links-dropdown a {
    padding-right: 0rem;
  }
}
