.fotter {
  padding-block: 3rem;
  background: linear-gradient(to right, #166735, #1a3243);
  position: relative;
  z-index: 2;
  text-align: center;
}

.fotter-container {
  max-width: 800px;
  margin: 0 auto;
}

.fotter-container h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.fotter-container a {
  font-size: 1.5rem;
  margin-inline: 1rem;
  color: #ffffff;
}

.copyright {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: #ffffff;
}
